@tailwind base;
@tailwind components;
@tailwind utilities;

.pac-icon {
    width: 30px;
    height: 20px;
    margin-right: 7px;
    margin-top: 6px;
    display: inline-block;
    vertical-align: top;
    background-image: url(/marker.svg) !important;
    background-size: 20px;
  }